
.main{
    display: flex;
    background-color: #FFFEFE;
}
.logo{
    margin: 10px;
    justify-content: center;
    /* float: left; */
    font-size: 30px;
    color: black;
    padding-top: 20px;
    /* align-items: center; */
}
.memu{
    margin: 10px;
    float: left;
    
}
.ull{
    margin-left: 200px;
    margin-right: 120px;
    /* float: right; */
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    cursor: pointer;
    color: #0a0909;
    list-style: none;
    margin: 15px;
    font-size: 20px;

}
.min{
    display: flex;
    float: ;
}