/* Header.css */

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #DEAC80; 
    color: white; 
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu {
    width: 100%;
}

.ull {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.ull li {
    margin: 0 15px;
    cursor: pointer;
    font-size: 1.2rem;
}

.min {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

ul.min li {
    margin: 5px 0;
    cursor: pointer;

}

.logout-btn {/* Secondary color: Green */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: #218838;
}

hr {
    width: 100%;
    border: 1px solid white;
    margin-top: 10px;
}
